*{margin:0;padding:0;box-sizing:border-box;}

body{
    font-family:Segoe UI, Arial;
   background-image: url("background.jpg/img.png");
    background-size:cover;
    background-position:center;
    padding-top:70px;
}

/* Header */
.header{
    position:fixed;
    top:0;
    width:100%;
    background:#003366;
    color:white;
    padding:15px;
    font-size:22px;
    font-weight:bold;
}

/* Layout */
main{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:30px;
}

h1{
    color:white;
    margin-bottom:20px;
}

/* Form */
form{
    width:520px;
    padding:30px;
    border-radius:18px;
    background:rgba(255,255,255,0.2);
    backdrop-filter:blur(10px);
    box-shadow:0 0 20px rgba(0,0,0,0.3);
}

.form-group{
    margin-bottom:18px;
}

label{
    font-weight:bold;
    color:#003366;
    display:block;
    margin-bottom:5px;
}

/* Inputs */
input[type="text"],
input[type="password"],
input[type="email"]{
    width:100%;
    padding:12px;
    border:none;
    border-radius:6px;
    background:rgba(255,255,255,0.9);
    font-size:16px;
    outline:none;
}

input:focus{
    box-shadow:0 0 8px #00aaff;
}

/* Email OTP Layout */
.email-otp-group{
    display:flex;
    gap:10px;
}

.email-otp-group input{
    flex:1;
}

.email-otp-group button{
    background:linear-gradient(90deg,#003366,#005bb5);
    color:white;
    border:none;
    padding:10px 14px;
    border-radius:6px;
    cursor:pointer;
}

.email-otp-group button:hover{
    background:#002b5c;
}

/* Gender */
.gender-group{
    display:flex;
    gap:20px;
}

/* Captcha */
.captcha-container{
    display:flex;
    justify-content:space-between;
    background:#f0f0f0;
    padding:8px;
    border-radius:6px;
}

.refresh-btn{
    border:none;
    background:#003366;
    color:white;
    width:30px;
    height:30px;
    border-radius:50%;
    cursor:pointer;
}

/* Buttons */
input[type="submit"],
input[type="reset"]{
    background:linear-gradient(90deg,#003366,#005bb5);
    color:white;
    padding:12px 30px;
    border:none;
    border-radius:7px;
    font-size:18px;
    margin:6px;
    cursor:pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover{
    transform:translateY(-2px);
}

footer{
    margin-top:20px;
    background:#002b5c;
    color:white;
    text-align:center;
    padding:12px;
}